<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.order.mapper.CategoryMapper">
    <update id="updateCategory">
        update category <set>
        <if test="name!=null">name=#{name},</if>
        <if test="sort!=null">sort=#{sort},</if>
        <if test="type!=null">type=#{type},</if>
    </set>
        where id = #{id}
    </update>
    <delete id="deleteByIds">
        delete  from category where id in
                                    <foreach collection="ids" item="id" open="(" close=")" separator=",">
        #{id}
    </foreach>
    </delete>

    <select id="queryCategory" resultType="com.entity.Category">
        select * from category <where>
        <if test="type!=null"> type = #{type}</if>
    </where>  order by sort asc
    </select>
    <select id="queryPage" resultType="com.entity.Category">
        select * from category <where>
        <if test="type!=null and type!=''"> type=#{type}</if>
        <if test="name!=null and name!=''"> and  name like concat('%',#{name},'%')</if>
    </where>
        order by sort asc
    </select>
</mapper>